.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    margin: 30px;
}

.info img {
    width: 139.39px;
    height: 139.39px;
}

.info p {
    height: 35px;
    width: 119px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.btn {
    color: white;
    border-width: 0px;
    border-style: solid;
    margin: 20px;
    padding: 1.5px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
        linear-gradient(180deg, #7B72CC 0%, #DC0078 49.48%, #3871D6 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 88px;
    width: 559px;
    border-radius: 52.5px;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .info img {
        width: 69.7px;
        height: 69.7px;
    }

    .info {
        margin: 40px;
    }

    .info p {
        font-size: 15px;
        width: 70px;
    }

    .btn {
        height: 44px;
        width: 279.5px;
        border-radius: 26.25px;
        font-size: 20px;
        line-height: 23px;
        margin: 12px;
    }
}

@media screen and (max-width: 1140px) {
    .info img {
        width: 104.5px;
        height: 104.5px;
    }

    .info {
        margin: 40px;
    }

    .info p {
        font-size: 25px;
        width: 100px;
    }

    .btn {
        height: 66px;
        width: 419.25px;
        border-radius: 39.375px;
        font-size: 30px;
        line-height: 34px;
        font-weight: 300;
    }
}