<div class="container">
    <div class="info">
        <img src={{avatar}} alt="">
        <p class="name">{{name}}</p>
    </div>
    <div class="row">
        <label for="roomName">Room Name</label>
        <input class="txt" placeholder="-Type here-" name="roomName" type="text">
    </div>
    <div class="row">
        <label for="noOfPlayers">No. of Players</label>
        <input class="txt" placeholder="-1 to 5-" name="noOfPlayers" type="text" (keypress)="numericOnly($event)"
            [maxLength]="1" [(ngModel)]="num">
    </div>
    <div class="row">
        <button class="btn" [disabled]="!num">Create</button>
    </div>
</div>